

.lyrics{
   margin: 0 auto;
    display: block;
    background-color: black;
    margin-bottom: 20px;
    margin-top: 20px;
    a{
        color: white;
        font-family: $paragraph-font;
    }
}


#soundcloudplayer{
    margin-top: 20px;
    margin: 0 auto;
     display: block;
   
}

