body {
  margin: 0px; }

#social-icons {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  padding: 0; }

.fa {
  padding: 5px;
  width: 30px;
  text-decoration: none;
  background: white;
  color: black; }

.fa:hover {
  opacity: 0.7; }

nav {
  text-align: center;
  text-decoration: none; }

.menu {
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
  margin: 0 auto;
  display: inline-block;
  margin-top: 0;
  padding: 0px;
  margin-bottom: 15px; }

li {
  font-family: "Open Sans", sans-serif;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none; }
  li li a {
    color: black;
    text-decoration: none; }

a {
  text-decoration: none;
  color: black; }

a:active {
  color: #828d95; }

#trait {
  text-decoration-color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  height: 3px;
  text-align: center; }

#aboutmetext {
  font-size: 20px;
  text-align: center; }

.trait {
  text-align: center; }

h3 {
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center; }

#aboutme {
  margin-top: 900px;
  clear: none;
  margin-bottom: 20px;
  text-align: center; }

.biobutton button {
  font-family: "Permanent Marker", cursive;
  font-size: 15px;
  color: white;
  background-color: black;
  margin-bottom: 20px;
  margin-top: 10px; }

.biography {
  display: none; }
  .biography p {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    width: 60%;
    text-align: center;
    margin: 0 auto; }

#signuptext {
  margin-bottom: 20px;
  font-size: 60px;
  margin-top: 20px;
  text-align: center; }

#mc_embed_signup {
  margin: 0 auto;
  background: #fff;
  align-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  width: 50%;
  color: black; }

/* below are things for the polaroid gallery */
body {
  margin: 0px;
  font-family: "Open Sans", sans-serif; }

div#background {
  height: 700px;
  width: 100%;
  background-color: white;
  padding-top: 20px; }

div#gallery {
  width: 1200px;
  margin: auto; }

#background img {
  height: 250px;
  margin: 0px; }

#background figure {
  float: left;
  position: relative;
  background-color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 2px 3px black; }

figure.pic1 {
  -webkit-transform: rotate(-10deg);
  z-index: 1; }

figure.pic2 {
  -webkit-transform: rotate(15deg);
  z-index: 2; }

figure.pic3 {
  -webkit-transform: rotate(-25deg);
  z-index: 1; }

figure.pic4 {
  -webkit-transform: rotate(5deg);
  z-index: 1; }

figure.pic5 {
  -webkit-transform: rotate(5deg);
  z-index: 1; }

figure.pic6 {
  -webkit-transform: rotate(-8deg);
  z-index: 1; }

figure.pic7 {
  -webkit-transform: rotate(2deg);
  z-index: 1; }

figure.pic8 {
  -webkit-transform: rotate(-13deg);
  z-index: 1; }

figure.pic9 {
  -webkit-transform: rotate(-7deg);
  z-index: 1; }

figure.pic10 {
  -webkit-transform: rotate(2deg);
  z-index: 1; }

figure.pic11 {
  -webkit-transform: rotate(-3deg);
  z-index: 1; }

figure.pic12 {
  -webkit-transform: rotate(5deg);
  z-index: 1; }

figure.pic13 {
  -webkit-transform: rotate(-10deg);
  z-index: 1; }

figure.pic14 {
  -webkit-transform: rotate(15deg);
  z-index: 2; }

figure.pic15 {
  -webkit-transform: rotate(-25deg);
  z-index: 1; }

figure.pic16 {
  -webkit-transform: rotate(5deg);
  z-index: 1; }

figure.pic17 {
  -webkit-transform: rotate(5deg);
  z-index: 1; }

figure.pic18 {
  -webkit-transform: rotate(-8deg);
  z-index: 1; }

figure.pic19 {
  -webkit-transform: rotate(2deg);
  z-index: 1; }

figure.pic20 {
  -webkit-transform: rotate(-13deg);
  z-index: 1; }

#background figure:hover {
  box-shadow: 5px 10px 100px black;
  -webkit-transform: scale(1.1, 1.1);
  z-index: 20; }

.lyrics {
  margin: 0 auto;
  display: block;
  background-color: black;
  margin-bottom: 20px;
  margin-top: 20px; }
  .lyrics a {
    color: white;
    font-family: "Open Sans", sans-serif; }

#soundcloudplayer {
  margin-top: 20px;
  margin: 0 auto;
  display: block; }

.emails {
  margin-left: 45%; }

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 60px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px; }

h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  text-align: center; }

h3 {
  text-align: center; }

p {
  font-family: "Open Sans", sans-serif;
  text-align: center; }

.blackboxfooter {
  background-color: black;
  width: 100%;
  color: white;
  margin-bottom: 0px; }

/*# sourceMappingURL=main.css.map */
